TASK:01

In [38]:
def which_prize(result):
    if result < 51:
            prize = 'wooden rabbit'
    elif result > 50 and result < 151:
            return "Oh dear, no prize this time."
    elif result > 151 and result < 181:
            prize = 'wafer-thin mint'
    else:
            prize = 'penguin'
    return "Congratulations! You have won a {}!".format(prize)
print(which_prize(174))

Congratulations! You have won a wafer-thin mint!

TASK:02

In [65]:
answer = 10  # provide answer
guess = 10  # provide guess
if guess < answer:
    result = "Oops!  Your guess was too low."
elif guess > answer:
    result = "Oops!  Your guess was too high."
elif guess == answer:
    result = "Nice!  Your guess matched the answer!"
print(result)

Nice!  Your guess matched the answer!

TASK:03

In [67]:
state = 'CA'
purchase_amount = 200
if state == 'CA':
    tax_amount = .075
    total_cost = purchase_amount*(1+tax_amount)
    result = "Since you're from {}, your total cost is {}.".format(state, total_cost)
elif state == 'MN':
    tax_amount = .095
    total_cost = purchase_amount*(1+tax_amount)
    result = "Since you're from {}, your total cost is {}.".format(state, total_cost)
elif state == 'NY':
    tax_amount = .089
    total_cost = purchase_amount*(1+tax_amount)
    result = "Since you're from {}, your total cost is {}.".format(state, total_cost)
print(result)

Since you're from CA, your total cost is 215.0.

TASK:04

In [70]:
STR= ["The","quick","brown","fox","jumped","over","the","lazy", "dog"]
for x in STR:
  print(x)

The
quick
brown
fox
jumped
over
the
lazy
dog

TASK:05

In [71]:
for num in range(5, 31, 5): #start,stop,step
    print(num)

5
10
15
20
25
30

TASK:06

In [72]:
names = ["Rick Sanchez", "Morty Smith", "Summer Smith", "Jerry Smith", "Beth Smith"]
first_names = [name.split()[0].lower() for name in names]
print(first_names)

['rick', 'morty', 'summer', 'jerry', 'beth']

TASK:07

In [75]:
multiples_3 = [num * 3 for num in range(1, 21)]
print(multiples_3)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60]

TASK:08

In [76]:
scores = {
    "Rick Sanchez": 70,
    "Morty Smith": 35,
    "Summer Smith": 82,
    "Jerry Smith": 23,
    "Beth Smith": 98
}
passed = [name for name, score in scores.items() if score >= 65]
print(passed)

['Rick Sanchez', 'Summer Smith', 'Beth Smith']

TASK:09

In [77]:
cast_names = ["Barney", "Robin", "Ted", "Lily", "Marshall"]
cast_heights = [72, 68, 72, 66, 76]
cast = dict(zip(cast_names, cast_heights))
print(cast)

{'Barney': 72, 'Robin': 68, 'Ted': 72, 'Lily': 66, 'Marshall': 76}

TASK:10

In [78]:
cast = ["Barney Stinson", "Robin Scherbatsky", "Ted Mosby", "Lily Aldrin", "Marshall Eriksen"]
heights = [72, 68, 72, 66, 76]
cast_with_heights = [f"{name}{height}" for name, height in zip(cast, heights)]
print(cast_with_heights)

['Barney Stinson72', 'Robin Scherbatsky68', 'Ted Mosby72', 'Lily Aldrin66', 'Marshall Eriksen76']