TASK 01

In [9]:
var1 = "AMNA"
var2 = "SALEEM"
print("I am, The UI Designer,{} {} ".format(var1, var2))

I am, The UI Designer,AMNA SALEEM

TASK 02

In [14]:
str = "hello"
capitalized_str = str.capitalize()
print(capitalized_str)

str1 = "AMNA"
print(str1.casefold())

str1 = "AMNA"
count = str1.count("A")
print(count)

str2 = "GOOD MORNING "
replaced_str2= str2.replace("GOODy", "NIGHT")
print(replaced_str2)

Hello
amna
2
GOOD MORNING

TASK 03

In [15]:
month = 7  # *0-based index*
days_in_month = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]
days = days_in_month[month-1]  # Subtract 1 to account for zero-based indexing
print(days)

31

TASK 04

In [18]:
eclipse_dates = ['June 21, 2001', 'December 4, 2002', 'November 23, 2003', 'March 29, 2006', 'August 1, 2008', 'July 22, 2009', 'July 11, 2010', 'November 13, 2012', 'March 20, 2015', 'March 9, 2016']

recents = eclipse_dates[-3:]
print(recents)

['November 13, 2012', 'March 20, 2015', 'March 9, 2016']

TASK 05

In [43]:
std = {
     "student1": {
        "name": "Amna",
        "age": 21,
        "grade": "6TH SEM",
        "subjects": ["DSA", "MAD", "TBW"]
    },
    "student2": {
        "name": "KINZA",
        "age": 21,
        "grade": "6TH SEM",
        "subjects": ["DS","SPM"]}}

student1_name = std["student1"]["name"]
print(student1_name)
student2_subjects = std["student2"]["subjects"]
print(student2_subjects)

Amna
['DS', 'SPM']